
.form{
    height: 100%;
    width: 100%;
}
.input{
    padding: 10px;
}
.form-line{
    display: flex;
    flex-direction: row;
}

.form-button{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

