.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.top-container{
    width: 100%;
    height: 10%;
    background-color: #005CBB;

    align-items: center;
    color: white;
}

.botton-container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: white;
}

.botton-top-container{
    width: 100%;
    height: 20%;

}

.botton-botton-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;

}

.input{
    padding: 20px;
}
.form-line{
    display: flex;
    flex-direction: row;
}

.form-filter{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.log-off{
    background-color: red;
}

.top-option{
    padding: 20px;
    cursor: pointer;
}

.top-title{
    padding: 10 px;
    padding-right: 740px;
    font-size: 25px;

}

.welcome-text{
    padding: 10px;
    padding-left: 20px;
}
.botton-left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.botton-mid-container{
    height: 20%;
    width: 100%;
}

.botton-botton-container{
    height: 80%;
    width: 100%;
}

.botton-right{
    width: 30%;
    height: 100%;
}

.tela-ao-lado{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}