<div class="container">
    <div class="top-container">
    <app-tollbarheader></app-tollbarheader>
    </div>
    <div class="botton-container">
    <div class="botton-top-container">
        <h1 class="welcome-text">Prontuário</h1>
        <p class="welcome-text">
        </p>
    </div>
    <mat-divider></mat-divider>
    <div class="tela-ao-lado">
        <div class="botton-left">
            <div class="botton-mid-container">
            </div>
            <div class="botton-botton-container">
               
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="botton-right">
           
        </div>
    </div>
    </div>
    
</div>


<mat-divider [vertical]="true"></mat-divider>
