<div class="filter">
    <div class="form">
      <div class="form_profissional">
      </div>
      <div class="form_especialidade">
          <mat-form-field>
              <mat-label>Especialidade</mat-label>
              <mat-select [(ngModel)]="filterOptionPaciente.especialidade">
                @for ( especialidade of especialidadeList; track especialidade) {
                  <mat-option [value]="especialidade.value">{{especialidade.viewValue}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
      </div>
      <div class="form_datepicker">
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="filterOptionPaciente.startDate"  />
            <input matEndDate placeholder="End date" [(ngModel)]="filterOptionPaciente.endDate" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </div>
      <div>
        <div class="button">
          <div class="example-button-row">
            <button mat-flat-button (click)="onSolicitar()">Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  