<div class="objetivo">
    <div class="input-container">
        <mat-form-field appearance="outline" class="espaco-textarea full-width">
            <mat-label>Objetivo</mat-label>
            <textarea [(ngModel)]="objetivo.objetivo" matInput rows="6" placeholder="Insira as informações relacionadas ao exame físico." ></textarea>
        </mat-form-field>

    </div>
        <div> 
            <mat-form-field class="example-full-width padding ">
                <mat-label>Perímetro Cefálico (cm)</mat-label>
                <input [(ngModel)]="objetivo.perimetroCefalico" matInput placeholder="Insira as informações relacionadas ao exame físico " >
            </mat-form-field>
            <mat-form-field class="example-full-width padding">
                <mat-label>Peso (kg)</mat-label>
                <input [(ngModel)]="objetivo.peso" matInput placeholder="Insira as informações relacionadas ao exame físico" >
            </mat-form-field>
            <mat-form-field class="example-full-width padding">
                <mat-label>Altura (cm)</mat-label>
                <input [(ngModel)]="objetivo.altura" matInput placeholder="Insira as informações relacionadas ao exame físico" >
            </mat-form-field>
            <mat-form-field class="example-full-width padding">
                <mat-label>Índice de massa corpórea (IMC)</mat-label>
                <input [(ngModel)]="objetivo.indiceMassaCorporea" matInput placeholder="Insira as informações relacionadas ao exame físico" >
            </mat-form-field>
        </div>
    <div>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Perímetro de Panturrilha</mat-label>
            <input [(ngModel)]="objetivo.perimetroPanturrilha" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Pressão arterial(mmHg)</mat-label>
            <input [(ngModel)]="objetivo.pressaoArterial" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Frequencia Respiratória(mpm)</mat-label>
            <input [(ngModel)]="objetivo.frequenciaRespiratoria" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Frequencia Cardíaca(bpm)</mat-label>
            <input [(ngModel)]="objetivo.frequenciaCardiaca" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Temperatura ºC</mat-label>
            <input [(ngModel)]="objetivo.temperatura" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Saturação O2</mat-label>
            <input [(ngModel)]="objetivo.saturacaoO2" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
        <mat-form-field class="example-full-width padding ">
            <mat-label>Glicemia</mat-label>
            <input [(ngModel)]="objetivo.glicemia" matInput placeholder="Insira as informações relacionadas ao exame físico " >
        </mat-form-field>
    </div>
    <button mat-stroked-button (click)="onSalvarObjetivo()">Salvar</button>

        
</div>
