<div class="perfil-inputs">
    <div class="inputs">
        <mat-form-field class="example-full-width input">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Ex. João" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Ex. joao@gmail.com" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width input">
        <mat-label>CPF</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width input">
        <mat-label>Senha</mat-label>
        <input matInput placeholder="Ex. Pizza" value="">
    </mat-form-field>
    </div>
    <div class="perfil-button">
        <button mat-flat-button>Atualizar</button>
    </div>
</div>